
  /* Estilos específicos para las imágenes del carrusel */
  .carousel {
    width: 100%; /* El ancho del carrusel es 100% del contenedor padre */
    margin: 20px auto; /* Centrar el carrusel */
  

}


.carouselImage {
  width: 100%; /* Ancho completo del contenedor */
  max-height: 500px; /* Altura máxima para mantener las proporciones */
  height: auto; /* Altura automática para mantener la proporción */
  object-fit: contain; /* Mantener la proporción y ajustar la imagen dentro del contenedor */
  border-radius: 8px; /* Bordes redondeados */
}
