/* Estilos para el encabezado */
header {
  display: flex;
  justify-content: space-between; /* Asegura que los elementos se separen según el espacio disponible */
  align-items: center; /* Alinea los elementos en el centro verticalmente */
  padding: 20px;
  background-color: #9400d3;
  color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo-container {
  flex: 1;
}

header h1 {
  flex: 1;
  text-align: center; 
  color: white;
  font-size: 28px;
  margin: 0;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end; 
}

header nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

header nav a button {
  background: none;
  border: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

header nav a button:hover {
  color: #7F00FF;
}

header img {
  height: auto;
  width: 180px;
}


