body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Ejemplo de fuente limpia */
  margin: 0;
  background-color: #F5F5F5;

}

a {  /* Estilos para enlaces */
  color: #d341d8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100px;
  height: 100px;
}